wildlife_tracker/animal_management/__pycache__/__init__.cpython-311.pyc
wildlife_tracker/animal_management/__pycache__/animal.cpython-311.pyc
wildlife_tracker/habitat_management/__pycache__/__init__.cpython-311.pyc
wildlife_tracker/habitat_management/__pycache__/habitat.cpython-311.pyc
.DS_Store
